body{
    background-color: #FFFFFF;
}

.navbar{
    max-height: 80px;
	background-color: #17c2e4;
    font-size: 18px;
    font-family: "Times New Roman", serif;
}

.navigation .navbar-brand{
	color: white;
	margin-left: 10px;
	padding: inherit;
	font-weight: bold;
	background-color: #17c2e4;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.dropdown-item{
    color: #2cac9f;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active{
    background-color:#488de6;
}

.nav-link:hover{
    background-color:#488de6;
}


/* Media Queries */
@media (max-width: 991.98px){
.navbar-expand-lg{
	background-color: #c9fceb;
}
.navbar{
    max-height: none;
    padding: inherit;
}
.navbar div{
    margin: inherit;
    background-color: white;
}
.navbar-brand{
    padding: 10px;
}

button{
    margin-left: auto;
}

button:focus {
    outline: 1px dotted;
}
}

.description-summary {
	margin-top: 30px;
	margin-bottom: 5px;
	padding: 5px 5px 5px;
	color: black;
	background-color: white;
}
.description-content {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 5px 5px 5px;
	color: black;
	background-color: white;
}

.imageNav-content {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 5px 5px;
	color: black;
	background-color: white;
	}
.description-header, .imageNav-header {
	padding-top: 5px;
	padding-left: 0px;
	color: #151a18;
	font-size: 20px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}
/*
img{
	width: 100%;
	#height: 100%;
}
*/
.description-image {
	float: left;
	width: 60%;
	height: 60%;
}

p{
	color: #414d4a;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}


.active, .imageNav-photo:hover{
    border-color:#151a18;
    border-style: solid;
}

.footer{

	background-color: #505251;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #151a18;
    color: white;
    min-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center; 
    position: fixed;
    padding-top: 10px; 
	width: 100%;
	left: 0;
	bottom: 0;
}