<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/about.css">
</head>

<body>
    <div class="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-teal">
            <a class="navbar-brand" href="index.html">Home</a>
            <span class="navbar-text">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plots</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="temp.html">Max Temperature</a>
                            <a class="dropdown-item" href="humidity.html">Humidity</a>
                            <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                            <a class="dropdown-item" href="windspeed.html">Wind Speed</a>
                        </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="mlmodels.html">ML Models</a>
              </li>

                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tools.html">Technology Stack</a>
                </li>
              </ul>
            </div>
        </span>
        </nav>
    </div>

    <div class="container-fluid">
      <div class="col-md-12 sum-col">
        <div class="container-fluid">

            <h1>Contact Us</h1>
            <br >
            <div class="row">
              <div class="col-1"></div>
              <div class="col-2">
              <div class="card" style="width: 12rem;height:8rem">
              <div class="card-body">
                <h5 class="card-title">Ajay Patil</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="https://github.com/patilaja" target="blank" style="color:black"><i class="fa fa-github" style="font-size:36px" ></i></a>
                <a href="https://www.linkedin.com/in/ajaypatil" target="blank" style="color:black"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                <a  href="patilaja@gmail.com" target="blank" style="color:black"><i class="fa fa-envelope" style="font-size:36px"></i></a>
                </div>
            </div>
          </div>
          <div class="col-2">
              <div class="card" style="width: 12rem;height:8rem">
                <div class="card-body">
                  <h5 class="card-title">Akshita Parasrampuria</h5>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="https://github.com/akshitap31" target="blank" style="color:black"><i class="fa fa-github" style="font-size:36px" ></i></a>
                  <a href="https://www.linkedin.com/in/akshita-parasrampuria-786377169/" target="blank" style="color:black"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                  <a  href="parasrampuriaakshita95@gmail.com" target="blank" style="color:black"><i class="fa fa-envelope" style="font-size:36px"></i></a>
                  </div>
              </div>
          </div>
              <div class="col-2">
                  <div class="card" style="width: 12rem;height:8rem">
                    <div class="card-body">
                      <h5 class="card-title">Archna Ashish</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="" target="blank" style="color:black"><i class="fa fa-github" style="font-size:36px" ></i></a>
                      <a href="" target="blank" style="color:black"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a> -->
                      <a  href="ashisharchna@gmail.com" target="blank" style="color:black"><i class="fa fa-envelope" style="font-size:36px"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <div class="card" style="width: 12rem;height:8rem">
                    <div class="card-body">
                      <h5 class="card-title">Aslam Momin</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="" target="blank" style="color:black"><i class="fa fa-github" style="font-size:36px" ></i></a>
                      <a href="" target="blank" style="color:black"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a> -->
                      <a  href="iliveonit@gmail.com" target="blank" style="color:black"><i class="fa fa-envelope" style="font-size:36px"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <div class="card" style="width: 12rem;height:8rem">
                    <div class="card-body">
                      <h5 class="card-title">Hasti Patel</h5>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <!-- <a href="" target="blank" style="color:black"><i class="fa fa-github" style="font-size:36px" ></i></a>
                      <a href="" target="blank" style="color:black"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a> -->
                      <a  href="hastipatel006@outlook.com" target="blank" style="color:black"><i class="fa fa-envelope" style="font-size:36px"></i></a>
                      </div>
                  </div>
              </div>
                  <div class="col-1"></div>
    
              </div>
            </div>
        </div>
      </div>
  </div>    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

